*{
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px; 
}

#mobile-navbar{
    display: none;
}

#desktop-navbar{
    display: inline;
}

input#drink-name-input.form-control{
    /* margin: 20px; */
    /* margin-left: 15%;
    margin-right: 15%; */
    width: 100%;
}

.jumbotron{
    color: black; 
}

h1.text-center{
    font-size: 100px;
}

#top{
    padding-left:0;
    padding-right:0;
}

h5{
    background-color: rgb(255, 255, 255, 0.6);
    padding: 8px;
    /* border-color: rgb(255, 255, 255, 0.9); */
    border-radius: 5px;
}

#jumbo-container {
    background-image: url("../images/bgimg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    background-size: 100%;
    margin: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* body{
    background-image: url("../images/bgimg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: 0.5;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
} */

.tt-menu { /*THIS IS THE CLASS FOR THE DROPDOWN MENU OF SUGGESTIONS*/
    width: 222px;
    margin-top: 12px;
    /* CHANGE MARGIN TO MOVE MENU */
    margin-left:0%;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion { /*THIS IS THE CLASS FOR INDIVIDUAL SUGGESTIONS*/
    padding: 3px 20px;
    font-size: 12px;
    line-height: 24px;
}

.card-img{
    height: 450px;
    width: 350px;
    padding: 1px;
}

.card{
    margin: 20px;
}

img{
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.iconlabel{
    background-color: #4aaaa5;
    text-align: center;
    width: 150px;
    color: #ffffff;
    margin: 0px 0px 10px 30%;
}

.ovl{
    opacity: 0;
    transition: 0.5s;
}

.ovl:hover{
    opacity: 1;
    text-align: center; 
    background: rgb(0,0,0,0.6);

}

.footer {
    position: absolute;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    display: block;
    box-sizing: border-box;
}

@media screen and (max-width: 700px){    
    div.container.content{
        background-image:url("assets/images/symphony.png");
        text-align: center;
    }

    .card{
        display: inline-block;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    /* Styles */
    #mobile-navbar{
        display: inline;
    }
    #desktop-navbar{
        display: none;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {
    /* Styles */
    #mobile-navbar{
        display: none;
    }
    #desktop-navbar{
        display: inline;
    }
}